.contact_container{
    margin-top: 80px;
    color: white;
    background-color: #b6b6b60d;
}
.contact_container h1{
    text-align: center;
    font-size: 38px;
}
.contact_container p{
    font-size: 28px;
    padding: 10px;
    text-align: justify;
}
.mainContacts{
    background-color: rgba(62, 125, 185, 0.053);
}
.mainContacts hr.contact_hr{
    border: none;
  position: relative;
  display: flex;
  height: 0;
  box-shadow: 0 0.8px 2px 0.8px white;
  overflow: hidden;
}

.contact_container .mainContacts{
    padding: 4%;
    /* line-height: 4; */
}
.contact_container .mainContacts a{
    font-size: 40px;
    color: rgba(245, 245, 245, 0.855);
    text-decoration: none;
}
.contact_container .mainContacts a:hover{
    color: whitesmoke;
}
.contact_container .mainContacts a:active{
    color: gray;
}

@media only screen and (max-width: 560px) {
.contact_container p{
    font-size: 18px;
}
.contact_container .mainContacts a{
    font-size: 20px;
    color: rgba(245, 245, 245, 0.855);
    text-decoration: none;
}



}