


.about_me {
    margin-top:80px;
    padding: 2%;
    color: white;
    width: 100%;
    background-color: #b6b6b60d;
    width: fit-content;
    overflow: hidden;
}
.about_me a{
    text-decoration: none;
}
.about_me a:visited{
    color: white;
}
.about_me a .mini_about:active{
    background-color: rgba(128, 128, 128, 0.111);
}

.about_me .mini_about{
    background-color: rgba(62, 125, 185, 0.053);
    padding: 40px;
    color: white;
    border-radius: 15px;
}
.about_me .mini_about .text_details{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.about_me .mini_about .text_details .mypic{
    display: none;
}
.about_me .mini_about .text_details .mypic img{
    width:280px;
}
.about_me .mini_about h1{
    font-size: 85px;
}
.about_me .mini_about h2{
    font-size: 60px;
}
.about_me .mini_about p{
    font-size: 20px;
    text-align: justify;
    line-height: 35px;
    letter-spacing: 2px;
}
/* 
.about_me .mini_about .workDesc{
    font-size: 50px;
} */


@media only screen and (max-width: 560px) {
    .about_me .mini_about{
        padding: auto;
    }
.about_me .mini_about h1{
    font-size: 35px;
}
.about_me .mini_about h2{
    font-size: 25px;
}
.about_me .mini_about p{
    font-size: 16px;
}
.about_me .mini_about .text_details{
justify-content: center;
}
.about_me .mini_about .text_details .mypic img{
    width:180px;
}
}

@media only screen and (min-width: 768px) {
    .about_me .mini_about .text_details{
        justify-content: center;
        }
        .about_me .mini_about .text_details .mypic img{
            width:350px;
        }

}
@media only screen and (min-width: 1600px) {
    .about_me .mini_about .text_details{
        justify-content: space-between;
    }
        .about_me .mini_about .text_details .mypic img{
            width: 600px;
        }
        .about_me .mini_about p{
            font-size: 32px;
        }

}
